
$biege: #f2f0e8;
$white: #f4f5f0;
$maintitlecolor: #474b57;

@import 'common/main.scss';

@import 'common/fonts.scss';
@import 'common/mixins.scss';

@import 'common/hero.scss';
@import 'common/about.scss';
@import 'common/map.scss';
@import 'common/footer.scss';
//@import 'common/greating';
//@import 'common/sprite.scss';
/*-----------------*/

