.about{
  @extend %clearfix;
  width: 100%;
}

.about-left, .about-right{
  float: left;
  width: 50%;
  position: relative;
}

.about-left{
  background: $biege;

}
.about-right{
  background: $white;

}


.left-container{
  max-width: 600px;
  right: 0px;
  float: right;
  padding-right: 50px;
  text-align: left;
}
.right-container{
  max-width: 600px;
  float: left;
  padding-left: 50px;
  text-align: left;
}

.about-section-title{
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/stars2.svg");
}

.title{

  display: inline-block;
  font-size: 63px;
  color: $maintitlecolor;
  font-weight: bold;
  text-transform: uppercase;

}
.about-user-info-title{

  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.about-user-info-text{
  padding-bottom: 50px;
  padding-top: 20px;
}
.subtitle{
  font-size: 35px;

  color: $maintitlecolor;
}

.user-about-title{
  font-size: 35px;
  color: $maintitlecolor;
  @include sansus();
}
.skills{
  padding-top: 0px;
  padding-bottom: 0px;
}
.about-data-content{

}
.skills-item{
  height: 190px;
}

.skills-list{
  display: flex;
  flex-flow: row;
  padding-top: 10px;
  padding-bottom: 30px;
}

.skills-lists-items{
  display: flex;
  flex-flow: row;
}
.info-circle{
  width: 120px;
  height: 120px;
  position: relative;
}
.info-name-text{
  position: absolute;
  top: 60px;
  left:60px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  text-align: center;
}
.skills-list-item-title{

  font-size: 28px;
  color: #474b57;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0em;
}
.info-circle-img{

  transform: rotate(270deg);
  filter: FlipV;
}