.about{
  @extend %clearfix;
  width: 100%;
}

.about-left, .about-right{
  float: left;
  width: 50%;
  position: relative;
}

.about-left{
  background: $biege;

}
.about-right{
  background: $white;

}
.triangle{
  height: 95px;
  width: 100%;
}
.about-triangles{
  position: absolute;
  bottom: 100%;
}
.triangle-fill-biege{
  fill: $biege;
}
.triangle-fill-white{
  fill: $white;
}
.left-container{
  max-width: 600px;
  right: 0px;
  float: right;
  padding-right: 50px;
  text-align: left;
}
.right-container{
  max-width: 600px;
  float: left;
  padding-left: 50px;
  text-align: left;
}

.about-section-title{
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/stars2.svg");
}

.title{

  display: inline-block;
  font-size: 63px;
  color: $maintitlecolor;
  @include sansus();
  font-weight: bold;

}
.about-user-info-title{
  font-size: 35px;
  color: $maintitlecolor;
  @include sansus();
  padding-top: 30px;
}

.user-about-title{
  font-size: 35px;
  color: $maintitlecolor;
  @include sansus();
}
.skills{
  padding-top: 0px;
  padding-bottom: 0px;
}
.about-data-content{

}
.skills-item{
  height: 190px;
}
