.hero-blog{
height: 400px;
  overflow: hidden;
  position: relative;
}
.footer-blog{
  margin-top:0px;
}
.blog-bg{
  background: #faf8f0;
}
.triangle-fill-blog{
fill: #faf8f0;
}
.about-blog{
  background: #faf8f0;
  padding-top: 70px;
  padding-bottom: 70px;
}