.footer{
  height: 185px;
  color: #FFFFFF;
  background: #474b57;
  opacity: 0.9;

}
.footer-menu{

  height: 145px;
  width: 100%;
  text-align: left;
  position:relative;
}
.menu-block{
  width: 33%;
  display:inline-block;

}
.left-block{
  padding-left: 1%;

}
.center-block{
}
.right-block{
  padding-right: 1%;
}

.copyright{
  height: 40px;
  background: #083c96;
  opacity: 0.8;
  text-align: center;
  padding-top: 10px;
}
.copyright p{
  top: 50%;
}
.address-list{

}
.menu-item{
  display: inline;
}
.menu-link{
  color: #ffffff;
  padding-left: 20px;
}