.hero {
  height:600px;
  overflow: hidden;
  position: relative;

}
.user{
  text-align: center;
}
.socials-link-vk{
  background-image: url("/assets/img/vk.svg");
  background-repeat: no-repeat;

}
.socials-link-gh{
  background-image: url("/assets/img/github.svg");
  background-repeat: no-repeat;

}
.socials-link-ln{
  background-image: url("/assets/img/in.svg");
  background-repeat: no-repeat;

}
.socials-item{
  display: inline-block;
  padding-left: 20px;

}
.socials-link{

  display: block;
  width: 30px;
  height: 30px;
  background-position: bottom;
}

.hero-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.section-title{
  display: inline-block;
  opacity: 0.07;
  width: 20%;
}
.user-photo-avatar{
  display: block;
  max-width: 100%;
}
.hero-user-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
}
.user-name{
  font-size: 35px;
}
.user-desc{
  font-size: 16px;
}