.hero {
  height:600px;
  overflow: hidden;
  position: relative;

}
.user{
  text-align: center;
}
.hero-bg{

}
.menu-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 28px 30px
}
.hamburger{

  width: 40px;
  height: 35px;


}
.socials{

  top:10px;
  display: flex;


}

.socials-item{
  display: inline-block;
  padding-left: 20px;

}
.socials-link{

  display: block;
  width: 25px;
  height: 25px;
  align-items: center;;
}

.socials-link-vk{
  width: 30px;
}
.socials-link-gh{
  height: 30px;
}
.socials-link-in{
 height: 22px;
}

.hero-title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}
.section-title{
  display: inline-block;
  opacity: 0.07;
  min-width: 470px;

}
.user-photo-avatar{
  display: block;
  max-width: 100%;
}
.hero-user-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
}
.user-name{
  font-size: 35px;
  font-weight: bold;
}
.user-desc{
  font-size: 16px;
}
.hero-triangle{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.hero-triangle svg{
  width: 50%;
}
.triangle-fill-biege{
  fill: $biege;
}
.triangle-fill-white{
  fill: $white;
}