html{
  width: 100%;
  height: 100%;
}
body{
  background: #f0f0f0;
  height: 100%;
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;

}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.footer{
  height: 185px;
  margin-top: -185px;
  position: relative;
}
.empty{
  height: 185px;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
p{
  padding: 0;
  margin: 0;
  font-size: 16px;
}
a{
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5{

  margin-top: 0;
  font-weight: normal;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0em;

}
.container{
  width: 1200px;
  margin: 0 auto;
}
.center{
  text-align: center;
}
.svg-icon{
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  fill: #FFFFFF;
}
.svg-icon:hover{
  transition: all 0.5s ease;
  fill: #004cd1;
}

.design-line {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  &:after {
    content: '';
    margin-top: 32px;
    width: 90px;
    height: 3px;
    background:rgba(71, 75, 87, 0.5);
  }
}

h3{


}

.width100{
  width: 100%;
}