.about-portfolio{
  background: #faf8f0;

  padding-bottom: 185px;
  display: flex;
  flex-flow: row;

  justify-content: center;

}

.works-block{
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
}
.work-description{
  display: flex;
  flex-flow: column;
}
.work-content{
  color: $maincolor;
  font-size: 16px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-left-side{

}

.portfolio-right-side{

}
.default-btn{

}
.link-icon{

}
.link-icon .svg-icon{
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 9px;

}
.portfolio-right-side{
  background-color: $gray;

}

.portfolio-triangle{
  position: absolute;
  bottom: 11.5625rem;
  display: flex;
  width: 100%;

}

.portfolio-triangle svg{
  width: 50%;
}

.portfolio-title{
  position: absolute;
  height: 11.5625rem;
  bottom: 0;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  background-color: rgba(13, 17, 32, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-blog{
  height: 785px;
  overflow: hidden;
  position: relative;
}
.portfolio-blog-bg{
  height: calc(100vh);
}

.portfolio-top{
  position: absolute;
  top: 15%;

  text-align: center;
  width: 100%;
}