/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-acura {
  background-image: url(/assets/img/sprite.png);
  background-position: -23px 0px;
  width: 17px;
  height: 16px;
}
.icon-alfaromeo {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -23px;
  width: 16px;
  height: 16px;
}
.icon-asia-motors {
  background-image: url(/assets/img/sprite.png);
  background-position: -17px -23px;
  width: 16px;
  height: 16px;
}
.icon-audi {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px 0px;
  width: 22px;
  height: 22px;
}
.icon-audi {
  background-image: url(/assets/img/sprite.png);
  background-position: -41px 0px;
  width: 16px;
  height: 16px;
}
.icon-baw {
  background-image: url(/assets/img/sprite.png);
  background-position: -41px -17px;
  width: 16px;
  height: 16px;
}
.icon-bentley {
  background-image: url(/assets/img/sprite.png);
  background-position: 0px -40px;
  width: 16px;
  height: 16px;
}
.icon-bmw {
  background-image: url(/assets/img/sprite.png);
  background-position: -17px -40px;
  width: 16px;
  height: 16px;
}
.icon-bpw {
  background-image: url(/assets/img/sprite.png);
  background-position: -34px -40px;
  width: 16px;
  height: 16px;
}
.icon-brilliance {
  background-image: url(/assets/img/sprite.png);
  background-position: -58px 0px;
  width: 16px;
  height: 16px;
}
