mixin add-svg-circle(id)
    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45 45" class="svg-icon-circle")
        <circle cx="22" cy="22" r="22" fill="#0548be"/>
        use(xlink:href="/assets/img/sprite.svg#"+id x="9" y="9" width="25" height="25")
