mixin skills-list(data)
      if(data)
         ul.skills
             each item, index in data
                 h3.skills-list-item-title #{item.skill}
                 li.skills-list

                    if(item.items)
                     ul.skills-lists-items
                        each circle, i in item.items
                         li.infograf-lists--items
                           +skill-circle(circle)