extends ../_template

block variables
  - var title = 'about me'

block content
    .wrapper

        section.section.hero
                .hero-bg(style="transform: translate3d(0px, 0%, 0px);")

                .menu-container
                    .socials
                        each item in ['vk','github','in']
                            .socials-item
                                a(href="#" class="socials-link socials-link-"+item)
                                    +add-svg(item)
                    a(href="#").hamburger
                        +add-svg('hamburger')

                .hero-title
                    img(src="/assets/img/stars1.svg",alt="title").section-title
                    .user.hero-user-block
                        .user-photo
                            .user-photo-avatar
                                img(src="/assets/img/header-avatar.png")
                        .user-name Владимир Астахов
                        .user-desc Личный сайт веб разработчика
                .hero-triangle
                    a(href="").down-arrow
                        +add-svg("arrow_down")
                    svg(viewbox="0 0 1000 100"
                                             preserveAspectRatio="none"
                                             class="triangle triangle-fill-biege about-triangles")
                                                polygon(points="0,0 0,100 1000,100")
                    svg(viewbox="0 0 1000 100"
                                              preserveAspectRatio="none"
                                              class="triangle triangle-fill-white about-triangles")
                                              polygon(points="0,100 1000,100 1000,0")
        section.section.about

                .about-left


                    .left-container
                        .title.about-section-title

                            |Обо мне
                        .user-about
                            .user-about-picture
                                img(src="/assets/img/about-photo.jpg",alt="title").my-photo
                            .user-about-title.subtitle
                                | Кто я
                            .user-about-text
                                p Я веб разработчик из Екатеринбурга. Мне 30 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

                .about-right

                    .right-container
                        .about-data
                            .about-data-secription.about-user-info
                                h2.about-user-info-title.design-line
                                    .subtitle Чем я могу быть<br />вам полезен

                                .about-user-info-text
                                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                            .about-data-content
                            -var mySkills = skills
                            +skills-list(mySkills)

        include includes/_map

        include includes/_footer
