extends ../_template

block variables
  - var title = 'about me'

block content
    .wrapper

        section.section.hero.hero-welcome

            .hero-bg


            .hero-welcome-container
                .user-container



                    .user.hero-user-block-login.width100
                                                .user-photo
                                                    .user-photo-avatar
                                                        img(src="/assets/img/header-avatar.png")
                                                .user-name Владимир Астахов
                                                .user-desc Личный сайт веб разработчика
                    .socials.socials-main
                                                each item in ['vk','github','in']
                                                    .socials-item
                                                        a(href="#" class="socials-link socials-link-"+item)
                                                            +add-svg(item)

                    .login-form-menu
                        a(href="/portfolio.html").login-form-btn.spacer Мои работы
                        a(href="/about.html").login-form-btn.spacer Обо мне
                        a(href="/blog.html").login-form-btn Блог
            a(href="/login.html").auth-btn Авторизоваться

            .copyright.copyright-login
                            p © Владимир Астахов | Создано с любовью в LoftSchool | 2016


