extends ../_template

block variables
  - var title = 'about me'

block content
    .wrapper

        section.section.portfolio-blog
                .hero-bg.portfolio-blog-bg(style="transform: translate3d(0px, 0%, 0px);")

                .menu-container
                    .socials
                        each item in ['vk','github','in']
                            .socials-item
                                a(href="#" class="socials-link socials-link-"+item)
                                    +add-svg(item)
                    a(href="#").hamburger
                        +add-svg('hamburger')

                .portfolio-top
                                    img(src="/assets/img/stars1.svg",alt="title").section-title
                                    .user.hero-user-block
                                        .user-photo
                                            .user-photo-avatar
                                                img(src="/assets/img/header-avatar.png")
                                        .user-name Владимир Астахов
                                        .user-desc Личный сайт веб разработчика
                .portfolio-triangle
                    a(href="").down-arrow
                                            +add-svg("arrow_down")

                    svg(viewbox="0 0 1000 100"
                                             preserveAspectRatio="none"
                                             class="triangle about-triangles triangle-fill-dark")
                                                polygon(points="0,0 0,100 1000,100")
                    svg(viewbox="0 0 1000 100"
                                              preserveAspectRatio="none"
                                              class="triangle about-triangles triangle-fill-dark")
                                              polygon(points="0,100 1000,100 1000,0")
                .portfolio-title
                    .user-name Мои работы
        section.section.about-portfolio

                .portfolio-left-side.works-block.about-left


                    .left-container-blog
                        .work-description
                            h2.about-user-info-title.design-line
                                .subtitle.width75 Сайт школы онлайн образования
                            .work-content HTML, CSS, JS

                            a(href="/login.html").default-btn.link-icon Посмотреть сайт
                                +add-svg('link')





                .portfolio-right-side.works-block

                    .right-container-blog
                        .about-data
                            h2.subtitle Самое важное в SASS
                            span.blog-item-create-date 09.05.2017
                            p
                            | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                            | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


        include includes/_footer