extends ../_template

block variables
  - var title = 'about me'

block content
    .wrapper

        section.section.portfolio-blog
                .hero-bg.portfolio-blog-bg(style="transform: translate3d(0px, 0%, 0px);")

                .menu-container
                    .socials
                        each item in ['vk','github','in']
                            .socials-item
                                a(href="#" class="socials-link socials-link-"+item)
                                    +add-svg(item)
                    a(href="#").hamburger
                        +add-svg('hamburger')

                .portfolio-top
                                    img(src="/assets/img/stars1.svg",alt="title").section-title
                                    .user.hero-user-block
                                        .user-photo
                                            .user-photo-avatar
                                                img(src="/assets/img/header-avatar.png")
                                        .user-name Владимир Астахов
                                        .user-desc Личный сайт веб разработчика
                .portfolio-triangle
                    a(href="").down-arrow
                                            +add-svg("arrow_down")

                    svg(viewbox="0 0 1000 100"
                                             preserveAspectRatio="none"
                                             class="triangle about-triangles triangle-fill-dark")
                                                polygon(points="0,0 0,100 1000,100")
                    svg(viewbox="0 0 1000 100"
                                              preserveAspectRatio="none"
                                              class="triangle about-triangles triangle-fill-dark")
                                              polygon(points="0,100 1000,100 1000,0")
                .portfolio-title
                    .user-name Мои работы
        section.section.about-portfolio

                .portfolio-left-side.works-block.about-left


                    .left-container-blog
                        .work-description
                            h2.about-user-info-title.design-line
                                .subtitle.width75 Сайт школы онлайн образования
                            .work-content HTML, CSS, JS

                            a(href="/login.html").default-btn.link-icon Посмотреть сайт
                                +add-svg('link')

                .portfolio-right-side.works-block

                    .right-container-blog
                        .portfolio-slider
                            .portfolio-main-slider
                                img(src="/assets/img/slider/1.jpg",alt="title").big-slider-item
                            .portfolio-two-slider
                                .slider-item

                                    img(src="/assets/img/slider/2.jpg",alt="title").slider-prev-btn.slider-img
                                    +add-svg("portf_arrow_down")

                                .slider-item

                                    img(src="/assets/img/slider/3.jpg",alt="title").slider-next-btn.slider-img
                                    +add-svg("portf_arrow_up")




        section.section.testimonials-portfolio
            .testimonials-title
                |Что говорят <br /> обо мне
            .testimonials-items
                .testimonials-item
                    img(src="/assets/img/testimonials/1.png").testimonial-avatar
                    .testimonial-description Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .testimonial-name Ковальчук Дмитрий
                    .testimonial-work — основатель Loftschool

                .testimonials-item
                    img(src="/assets/img/testimonials/2.png").testimonial-avatar
                    .testimonial-description Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                    .testimonial-name Сабанцев Владимир
                    .testimonial-work — преподаватель

            .testimonials-mailform
                .user-container
                                    form.login-form(name="auth" action="/login" method="POST")
                                        .frame-form
                                            p.form-title.design-line Связаться со мной
                                            .form-field-group
                                                input.form-field.text-field.transparent-bg(type="text" placeholder="Ваше имя" data-filed="login")


                                            .form-field-group
                                                input.form-field.text-field.transparent-bg(type="text" placeholder="Ваш email" data-filed="email")

                                            .form-field-group
                                                textarea.form-field.textarea-field.transparent-bg( rows="7" type="text" placeholder="Ваше сообщение" data-filed="text")



                                        .login-form-menu
                                            input.login-form-btn.spacer(type="submit" value="Отправить")
                                            a(href="/").login-form-btn Очистить



        include includes/_footer